/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Mar-2016, 09:21:30
    Author     : gianluke
*/

.delete_row_connection{
	margin-left: 10px;
}
#titleHome{
	font-size:55px;
}

.nobreak{
	display: inline;
}

.dropdownD{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

