/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-Mar-2016, 09:21:30
    Author     : gianluke
*/

.delete_row_connection{
	margin-left: 10px;
}
#titleHome{
	font-size:55px;
}

.nobreak{
	display: inline;
}

.dropdownD{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/*
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
*/



.dropdown-submenu {
    position: relative;
	
}

html, body
{
    height: 100%;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
	
    max-height: 90px;
    overflow-y: scroll;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0px;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
}

/*.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
	overflow-y: auto;
}
*/
